<div class="content">
  <div class="home" *ngIf="showHome">
      <h2>Welcome to coffee week. </h2>
      <p style="font-size:120%;font-style: italic">"Good ideas start with brainstorming. Great ideas start with coffee"</p>
      <hr>
      <br>
      A lot of employees love coffee, although there are definitely differences of opinion whether Chemex or an Italian espresso coffee machine produce the better tasting cup. Sometimes people will bring an extra coffee as a surprise for someone else, which can make people VERY happy. We thought it might be nice to make an event of this, called Coffee Week. Each person will be assigned someone else in their office to surprise with a coffee, some time during the week. To be fair, each person will be giving one coffee and receiving one coffee during the week. To maximise surprise, nobody will be surprising the person who surprised them.
      Click the button if you want to start the random assignment.
  </div>
  <div class="employees" *ngIf="showEmployees">
    <h2>This is a list of all our Employees.</h2>
      <app-paring *ngFor="let users of user" [user]="users" [showEmployees] = "showEmployees" [showPair] = "showPair"></app-paring>
  </div>
  <div class="pairs" *ngIf="showPair">
      <h2>This is a list of all giver-receiver pairs.</h2>
      <p *ngIf="!randomCreated">The pairs have not yet been created. Click the button to start the random assignment</p>
      <app-paring *ngFor="let pairs of pair" [pair]="pairs" [showEmployees] = "showEmployees" [showPair] = "showPair"></app-paring>
  </div>
  
 
</div>
