header {
    height: 50vh;
    background-image: url("img/background.jpg");
    background-size: 100% 100%;
}
header h1 {
    font-size: 600%;
    font-weight: normal;
    font-family: 'Rouge Script', cursive;
    color: rgb(236, 210, 161);
    line-height: 1;
    padding-top: calc(25vh - 20pt);
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #02151a;
}